.projects {
    @apply bg-black text-primary-500 w-full min-h-screen mt-20;

    .projects-inner {
        @apply px-6 py-8 lg:p-12 h-full flex flex-col gap-4 min-h-screen;

        h2 {
            @apply flex-grow flex flex-col gap-0 leading-none text-5xl md:text-[7rem] lg:text-[9.75rem] font-semibold selection:text-black selection:bg-secondary-500 uppercase pb-6 lg:pb-0;

            span:last-child {
                @apply text-secondary-500;
            }
        }

        .projects-content {
            @apply flex-grow flex flex-col justify-end pt-4;

            .projects-list {
                @apply w-screen table-fixed -mx-6 lg:-mx-12 text-primary-500;

                * {
                    @apply select-none;
                }
                .project td {
                    @apply relative;
                }

                .project-year {
                    @apply md:w-32 lg:w-40 md:pl-6 lg:pl-12;
                }

                .project-role {
                    @apply w-80 text-right md:pr-6 lg:pr-12;
                }

                .project-project {
                    @apply px-6 md:px-0
                }

                .project-project,
                .project-client {
                    @apply md:w-full lg:w-1/2;
                }

                .project-client {
                    @apply hidden lg:table-cell;
                }

                .project-year,
                .project-role {
                    @apply hidden md:table-cell
                }

                .projects-list th {
                    @apply font-mono uppercase text-xs text-left text-primary-400;
                }

                th {
                    @apply font-mono text-primary-500/30;
                }

                td {
                    @apply text-lg uppercase tracking-wider font-medium;
                }

                th,
                td {
                    @apply text-left;

                    a {
                        @apply w-full block h-full;
                    }
                }

                th:last-child {
                    @apply text-right;
                }

                .project.active {
                    td {
                        @apply z-9999;
                    }
                }

                .project:hover {
                    @apply bg-secondary-500 text-primary-500;

                    td {
                        @apply relative z-150;
                    }

                    td:after {
                        @apply absolute w-full h-full top-0 left-0 -z-10 bg-secondary-500 mix-blend-multiply opacity-40;
                        content: '';
                    }
                }
            }
        }
    }
}

#custom-cursor {
    @apply w-64 aspect-[16/9] fixed pointer-events-none z-100 top-0 left-0 opacity-0 will-change-transform;
    pointer-events: none;

    img {
        @apply w-full h-full object-cover object-center block transform scale-100 pointer-events-none rounded-xs;
    }
}

.project-view {
    .project-view-top {
        @apply p-6 lg:px-12 lg:py-6;
    }

    .project-view-image {
        @apply aspect-video w-full bg-secondary-500 relative;

        img {
            @apply absolute object-cover object-center w-full h-full top-0 left-0 z-10;
        }
    }

    .project-view-title {
        @apply absolute z-40 flex justify-end h-full w-full p-4 lg:p-12 flex-col gap-3 lg:gap-6;

        h1 {
            @apply text-3xl lg:text-8xl text-primary-500 font-extrabold uppercase;
        }

        p {
            @apply block border-t py-2 lg:py-4 text-base lg:text-2xl font-semibold font-mono;
        }
    }

    .project-view-image::after {
        @apply bg-linear-to-b from-transparent to-black absolute w-full h-full z-15;
        content: '';
    }

    h3, h4 {
        @apply font-sans font-light text-xs text-secondary-500 uppercase mb-6 lg:mb-16 tracking-[.15rem];
    }

    .project-view-content {
        @apply px-6 py-8 lg:p-12 text-primary-500/60 leading-6 font-mono flex flex-col gap-8 lg:gap-0 lg:flex-row;


        p {
            @apply tracking-wide lg:tracking-widest
        }

        p+p {
            @apply mt-4 lg:mt-6;
        }

        .project-view-story {
            @apply lg:max-w-2/3 lg:pr-6 order-2 lg:order-1;
        }

        .project-view-details {
            @apply lg:max-w-1/3 w-full lg:mt-21 lg:pl-6 lg:order-2
        }
        .project-view-detail {
            @apply flex flex-col gap-3 text-xs py-8 border-t border-primary-500/15;

            h4 {
                @apply text-[.625rem] mb-0;
            }

            p {
                @apply text-primary-500/50;

                span.dot {
                    @apply h-[3px] w-[3px] rounded-full bg-primary-500/50 inline-block -mt-1.5;
                }
            }

            ul {
                @apply flex flex-col gap-1.5;

                li {
                    @apply ml-3 pl-1 list-disc tracking-wider;
                }
            }

            a {
                @apply text-sm uppercase tracking-widest;
            }
        }


        .project-view-detail:last-child {
            @apply border-b border-primary-500/15 pb-8 lg:border-none;
        }
    }

    .project-view-gallery-title {
        @apply px-6 lg:px-12 lg:pt-12 pt-8 text-primary-500/60 leading-6 font-mono flex flex-col gap-8 lg:gap-0 lg:flex-row;
    }

    .project-view-gallery {
        @apply h-fit lg:min-h-screen bg-darkgray p-8 lg:p-12;
        box-shadow: inset 0 3rem 2rem -2rem rgba(0,0,0,0.5), inset 0 -3rem 2rem -2rem rgba(0,0,0,0.5);
        background-image: radial-gradient(#FFFFFF10 3px, transparent 3px);
        background-size: 2.5rem 2.5rem;
        background-position: center;

        .gallery-item {
            @apply bg-secondary-500 lg:w-2/3 aspect-[45/32];

            &:first-child {
                @apply ml-[12.5%];
            }

            &:last-child {
                @apply ml-[0%];
            }

            &:nth-child(even) {
                @apply ml-[33%] my-12;
            }

            &:first-child {
                @apply mb-12 mt-0;
            }

            &.gallery-gif {
            }

            &.gallery-image {
                &.long {
                    @apply aspect-auto lg:w-2/3 h-auto min-h-[800px];
                }
            }
        }
    }
}
