.projects {
    @apply bg-black text-primary-500 w-full min-h-screen mt-20;

    .projects-inner {
        @apply px-6 py-8 lg:p-12 h-full flex flex-col gap-4 min-h-screen;

        h2 {
            @apply flex-grow flex flex-col gap-0 leading-none text-5xl lg:text-[9.75rem] font-semibold selection:text-black selection:bg-secondary-500 uppercase pb-6 lg:pb-0;

            span:last-child {
                @apply text-secondary-500;
            }
        }

        .projects-content {
            @apply flex-grow flex flex-col justify-end pt-4;

            .projects-list {
                @apply w-screen table-fixed -mx-12 text-primary-500;

                * {
                    @apply select-none;
                }
                .project td {
                    @apply relative;
                }

                .project-year {
                    @apply w-40 pl-12;
                }

                .project-role {
                    @apply w-80 text-right pr-12;
                }

                .project-project,
                .project-client {
                    @apply w-1/2;
                }

                .projects-list th {
                    @apply font-mono uppercase text-xs text-left text-primary-400;
                }

                th {
                    @apply font-mono text-primary-500/30;
                }

                td {
                    @apply text-lg uppercase tracking-wider font-medium;
                }

                th,
                td {
                    @apply text-left;

                    a {
                        @apply w-full block h-full;
                    }
                }

                th:last-child {
                    @apply text-right;
                }

                .project.active {
                    td {
                        @apply z-150;
                    }
                }

                .project:hover {
                    @apply bg-secondary-500 text-primary-500;

                    td {
                        @apply relative z-150;
                    }

                    td:after {
                        @apply absolute w-full h-full top-0 left-0 -z-10 bg-secondary-500 mix-blend-multiply opacity-40;
                        content: '';
                    }
                }
            }
        }
    }
}

#custom-cursor {
    @apply w-64 aspect-[16/9] fixed pointer-events-none z-100 top-0 left-0 opacity-0 will-change-transform;
    pointer-events: none;

    img {
        @apply w-full h-full object-cover object-center block transform scale-100 pointer-events-none rounded-xs;
    }
}

.project-view {
    .project-view-top {
        @apply px-12 py-6;
    }

    .project-view-image {
        @apply aspect-video w-full bg-secondary-500 relative;

        img {
            @apply absolute object-cover object-center w-full h-full top-0 left-0 z-10;
        }
    }

    .project-view-title {
        @apply absolute z-40 flex justify-end h-full w-full p-12 flex-col gap-6;

        h1 {
            @apply text-8xl text-primary-500 font-extrabold uppercase;
        }

        p {
            @apply block border-t py-4 text-2xl font-semibold font-mono;
        }
    }

    .project-view-image::after {
        @apply bg-linear-to-b from-transparent to-black absolute w-full h-full z-15;
        content: '';
    }

    .project-view-content {
        @apply px-6 py-8 lg:p-12 text-primary-500/60 leading-6 font-mono flex flex-row;
        h3, h4 {
            @apply font-sans font-light text-xs text-secondary-500 uppercase mb-16 tracking-[.15rem];
        }

        p {
            @apply tracking-widest
        }

        p+p {
            @apply mt-6;
        }

        .project-view-story {
            @apply max-w-2/3 pr-6;
        }

        .project-view-details {
            @apply max-w-1/3 w-full mt-21 pl-6;
        }
        .project-view-detail {
            @apply flex flex-col gap-3 text-xs py-8 border-t border-primary-500/15;

            h4 {
                @apply text-[.625rem] mb-0;
            }

            p {
                @apply text-primary-500/50;

                span.dot {
                    @apply h-[3px] w-[3px] rounded-full bg-primary-500/50 inline-block -mt-1.5;
                }
            }

            ul {
                @apply flex flex-col gap-1.5;

                li {
                    @apply ml-3 pl-1 list-disc tracking-wider;
                }
            }

            a {
                @apply text-sm uppercase tracking-widest;
            }
        }
    }
}
